@import "tailwindcss";

:root {
  --primary-color: #2563eb;
  --secondary-color: #4f46e5;
}
.bg-primary {
  background-color: var(--primary-color);
}
.text-primary {
  color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}
.text-secondary {
  color: var(--secondary-color);
}


.sidebar-link {
  @apply flex items-center gap-3 px-4 py-3 rounded-lg text-gray-700 hover:bg-blue-50 hover:text-[#2563eb] transition;
}
