@import "tailwindcss";

:root {
  --primary-color: #2563eb;
  --secondary-color: #4f46e5;
}
.bg-primary {
  background-color: var(--primary-color);
}
.text-primary {
  color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}
.text-secondary {
  color: var(--secondary-color);
}
